<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteryChecker Add Item</title>
</head>
<body>

    <% if(typeof mesg != "undefined") { %>
        <h1><%= mesg %></h1>
        <% } %>

    <a href="/addlottery">addLottery</a>
    <form action="/addlottery" method="post">
        <br>
        <div>
            <label>DATE</label>
            <input type="text" name="DATE" id="DATE">
        </div>
        <br>
        <div>
            <label>Number</label>
            <input type="text" name="Number" id="Number">
        </div>
        <br>
        <div>
            <label>Prize</label>
            <input type="text" name="Prize" id="Prize">
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>